<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phuchieu.news" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/news_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:replace="android:icon" >
        <activity
            android:name="com.activity.Splash_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.activity.CategoryScreen_" />
        <activity android:name="com.activity.FeedViewActivity_" />
        <activity android:name="com.activity.SearchScreen_" />
        <activity android:name="com.activity.ListFeedView.MainActivity_" />
        <activity android:name="com.activity.ListFeedView.ListFeed_" />
        <activity
            android:name="com.activity.Test"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
