<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phuchieu.news">

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/LightCustom"
        tools:replace="android:icon">
        <activity
            android:name="com.activity.Splash_"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.activity.MainActivity_"
            android:screenOrientation="portrait" />
    </application>

</manifest>
