<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phuchieu.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="17" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_2"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon">
        <activity
            android:name="com.activity.Splash_"
            android:hardwareAccelerated="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.activity.CategoryScreen_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.activity.FeedView.FeedViewActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.activity.ListFeedView.MainActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.activity.ListFeedView.ListFeed_"
            android:screenOrientation="portrait"

            />
    </application>

</manifest>
